
---
import type { CollectionEntry } from 'astro:content';

interface Props {
    project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
const { title, description, tags, math, mathDescription } = project.data;
---

<div class="project-card">
    <h3>
        <a href={`/projects/${project.slug}`}>{title}</a>
    </h3>

    <div class="project-tags">
        {tags.map((tag) => (
            <span class={`tag ${tag.toLowerCase().replace(' ', '-')}`}>{tag}</span>
        ))}
    </div>

    <p>{description}</p>

    {math && (
        <div class="math-expression">
			<div>`$$ ${math} $`</div>
            {mathDescription && <small>{mathDescription}</small>}
        </div>
    )}
</div>

<style>
    .project-card {
        background-color: var(--base01);
        border-radius: 12px;
        padding: 2rem;
        border: 1px solid var(--base02);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        height: 100%;
    }

    .project-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .project-card h3 {
        margin-bottom: 1rem;
    }

    .project-card h3 a {
        color: var(--base0D);
        text-decoration: none;
        font-size: 1.5rem;
    }

    .project-card h3 a:hover {
        text-decoration: underline;
    }

    .project-card p {
        color: var(--base05);
        margin-bottom: 1.5rem;
    }

    .project-tags {
        /* ...existing code... */
    }

    .tag {
        background-color: var(--base0C);
        color: white;
        padding: 0.4rem 1.0rem;
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: 500;
    }

</style>

